#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NAME
Exec=xdg-open "PATHTOFILE"
Icon=/usr/share/icons/HighContrast/scalable/emblems/emblem-symbolic-link.svg
Terminal=false
Comment= A: make NAME for target B: enter full absolute PATHTOFILE  of source C: SAVE AS to the target directory
